@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  font-family: 'Poppins', sans-serif;
}

/*
  INTRO
*/
#intro-logo {
  background: none;
  border: none;
  box-shadow: none;
  width: 250px;
  position: absolute;
  top: -10vh;
  left: 0;
}

#intro-title {
  padding-top: 30vh;
  display: flex;
  max-width: 30vw;
  font-size: 1.5em;
  color: #132193;
  font-weight: bold;
  text-align: left;
}
#intro-title::before {
  content: 'Curso';
  background-color: #132193;
  color: white;
  position: fixed;
  margin-top: -7vh;
  border-radius: 16px;
  padding: 5px 40px;
  font-size: 0.6em;
  letter-spacing: normal;
}
